<!DOCTYPE html>
<html>
<head>
	<title>Olas Blog</title>
</head>
<body>
<div>
	<h1>DJango Girls Blog</h1>
</div>
<div>
	<p>published 000:000:000</p>
	<h2><a href="">My First Post</a></h2>
	<p> Aenean eu leo quam , peellentesquernare sem lacinia quam venentai vestibule</p>
</div>
<div>
	<p>published 00:00:00</p>
	<h2><a href="">My second post</a></h2>
	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
</div>
</body>
</html>